<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title>Confirm Email</title>
    </head>
    <body>
    <div>
        <h1>Welcome <strong th:text="${user.getFullName()}"></strong></h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Thank you for registering. Please click on the link below to activate your account.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a th:href="${confirm_url}"
                   type="button" class="btn btn-primary btn-lg px-4 gap-3">Confirm your account</a>
            </div>
        </div>
    </div>
    </body>
</html>

